@page "/all-jobs"

@inject NavigationManager NavigationManager

<h3>ZaposlenikConsole</h3>
<br />

<div class="row">
    <div class="col-4">
        <SelectJobsForExecuting OnJobSelect="OnSelectJob"></SelectJobsForExecuting>

        <TakeJobForExecution SelectedJob="@job" OnTakenJob="OnTakenJob"></TakeJobForExecution>
    </div>

    <div class="col">
    </div>
</div>



@code {
    private Job job;

    private void OnSelectJob(Job job)
    {
        this.job = job;
        //NavigationManager.NavigateTo($"/see-job/{job.Id}");
    }

    private void OnTakenJob(Job job)
    {

    }

}
